# Python
__pycache__/
*.pyc
*.pyo
*.pyd

todo_venv/
.vscode/
.kiro/
instance/


.env 

todo.md
gg.bat
cat_code.py
start_repo.py
my_files.txt
说明.md



# 数据库文件
instance/

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
